.card-movements{
    background: rgb(243 243 243);
    padding: 8px 8px 8px 8px;
    margin-top: 3px;
    border-radius: 10px;
    display: flex;
    height: 60px;    
}

.card-movements .title-card-movements{
    width: 40%;
    padding: 5px;
}

.card-movements .product-card-movements{
    font-size: 11px;
    line-height: 1.3em;
}
.card-movements .earn-card-movements{
    width: 50%;
    padding: 10px 0;
    font-size: 12px;
}
.card-movements .img-card-movements{
    width: 10%;
    position: relative;
    padding: 10px 15px;
}
.card-movements .img-card-movements img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-movements .title-card-movements .business-card-movements{
    color: #008e78;
    font-weight: bold;
}

.date-movements{
    font-size: 11px;
    color: rgb(175, 175, 175);
    margin-top: 15px;
    text-align: center;
}

.earn-mv{
    border-top: 3px solid #008e78;
}
