.tb-contingency-request{
    width: 100%;
    border-spacing: 0 10px;    
    overflow: hidden;
    background: transparent;
}
.tb-contingency-request th{
    font-family: Poppins;
    font-weight: bolder;
    font-size: 12px;
    color: #000;
    text-align: center;
}
.tb-contingency-request .mat-row{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
    border-radius: 100%;
    overflow: hidden;
    background: white;
    cursor: pointer;
    transition: .3s all ease-in-out;
}
.tb-contingency-request .mat-row:hover{
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.10);
    background-color: aliceblue; 
}
.tb-contingency-request td{
    font-family: Poppins;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}
.tb-contingency-request tr td:first-child { 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 0 0 0;
}
.tb-contingency-request tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mat-paginator{
    background: transparent !important;
}
mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    border-bottom-color: transparent;
    padding: 0 10px 0 10px;
}
.cg-link{
    margin-bottom: 10px;
}
.ei-link{
    margin-top: 10px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0;
}