<ngx-loading-bar [color]="'#fff'"></ngx-loading-bar>
<div id="main">
    <div class="container">
        <div class="sc-title align-center">
            <span>Formulario de Usuarios</span>
        </div>
        <p class="sc-paragraph">
            Diligencie el siguiente formulario para crear los usuarios.
        </p>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="usr-type-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tipo de Identificación</mat-label>
                    <mat-select formControlName="typeIdUsr" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of typeId" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="true">Por favor elija un <strong>tipo de Identificación</strong></mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <div class="usr-identification-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Identificación</mat-label>
                    <input matInput formControlName="identificationUsr" type="number" placeholder="Escriba su número de identificación">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-error *ngIf="userForm.controls.identificationUsr.dirty && userForm.controls.identificationUsr.hasError('max')">
                        El número de identificación es <strong>muy largo</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.controls.identificationUsr.dirty && userForm.controls.identificationUsr.hasError('min')">
                        El número de identificación es <strong>muy corto</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="usr-names-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="namesUsr" type="text" placeholder="Escriba su nombre">
                    <mat-icon matSuffix>badge</mat-icon>
                    <mat-error *ngIf="userForm.controls.namesUsr.dirty && userForm.controls.namesUsr.errors?.maxlength">
                        El nombre es <strong>muy largo</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.controls.namesUsr.dirty && userForm.controls.namesUsr.errors?.minlength">
                        El nombre es <strong>muy corto</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="usr-surnames-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="surnamesUsr" type="text" placeholder="Escriba sus apellidos completos">
                    <mat-icon matSuffix>group_add</mat-icon>
                    <mat-error *ngIf="userForm.controls.surnamesUsr.dirty && userForm.controls.surnamesUsr.errors?.maxlength">
                        El apellido es <strong>muy largo</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.controls.surnamesUsr.dirty && userForm.controls.surnamesUsr.errors?.minlength">
                        El apellido es <strong>muy corto</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="usr-phone-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="phoneUsr" type="number" placeholder="Escriba su número de teléfono o celular">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="userForm.controls.phoneUsr.dirty && userForm.controls.phoneUsr.hasError('max')">
                        El número de teléfono es <strong>muy largo</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.controls.phoneUsr.dirty && userForm.controls.phoneUsr.hasError('min')">
                        El número de teléfono es <strong>muy corto</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="usr-email-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="emailUsr" type="text" placeholder="Escriba el correo electrónico">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="userForm.controls.emailUsr.dirty && userForm.controls.emailUsr.invalid ">
                        El correo electrónico es <strong>incorrecto</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="usr-password-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="passwordUsr" type="password" placeholder="Escriba la contraseña">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                    <mat-error *ngIf="userForm.controls.passwordUsr.dirty && userForm.controls.passwordUsr.invalid ">
                        Debe tener entre 8 y 16 caract, un dígito, mayúscula y no alfanumérico.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="usr-confirm-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input matInput (keyup)="validatePassword($event)" formControlName="cPasswordUsr" type="password" placeholder="Escriba la contraseña">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                    <mat-error *ngIf="userForm.controls.cPasswordUsr.dirty">Las contraseñas no coinciden</mat-error>
                </mat-form-field>
            </div>
            <div class="usr-role-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tipo de Perfil</mat-label>
                    <mat-select formControlName="profileUsr" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of profileId" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="true">Por favor elija un <strong>tipo de Perfil</strong></mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <button class="usr-submit-form primary-theme-button" [class.spinner]="loading" [disabled]="loading"
            type="submit" color="primary">Crear Usuario</button>
        </form>
        
    </div>
    <div [routerLink]="['/administration/users-list']" class="floating-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
</div>
