
.app-splash-screen {
    background: #01816e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999999;
    transition: left 0.5s;
  }  
  
  .app-splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-logo {
    margin-top: -50px;
    text-align: center;
  }
  
  .app-loader {
    position: absolute;
    bottom: 20px;
    background-color: rgba(255,255,255,0.1);
    background-position: center;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 80%;
  }
  
  .app-loader-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 20px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    80% { width: 68%; }
    100% { width: 100%; }
  }