<div
  class="app-splash-screen"
  [ngStyle]="{ left: windowWidth }"
  *ngIf="showSplash"
>
  <div class="app-splash-inner">
    <div class="app-logo">
        <div class="mn-logo">
            <img src="assets/img/logo-white.png" alt="">
        </div>
    </div>
    <div class="app-loader">
      <div class="app-loader-value"></div>
    </div>
  </div>
</div>