
.button-float-quick{
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 9999
}
.tile2 .floating-button{
    display: block;
    background-color: #008e78;;
    margin: -55px auto;
    box-shadow:0px 0px 8px 2px rgba(95, 160, 185, 0.3);
}
.tile2 .soc{
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #008e78;;
    border-radius: 60px;
    padding: 0px 0px;
    transform: translateY(-5px);
    display: flex;
    transition: all .8s;
    overflow: hidden;
    margin: 0 auto
}
.tile2 .soc a{
    display:block;
    position: relative;
    text-align:center;
    height:60px;
    line-height: 70px;
    padding:0px;
    font-size:30px;
    flex: 1;
    -webkit-flex:1;
    transition: all .3s;
}
.tile2 .soc a:hover{
    background: #006251 !important;
    transform: translateY(-5px);
    transform: scale(1.3);
}
.title2 .soc a img{
    cursor: pointer;
    width: 40px;
}
.tile2 .soc.active{
    width: 100%;
}