<div class="button-float-quick">
  <div class="tile2">
      <div class="floating-button menu-share"><i class="fa fa-times my-float"></i></div>
      <div class="soc active">
          <a [routerLink]="['/my-profile']">
              <img src="assets/img/navigation/carnet.png" style="box-shadow: 0 0 black;width: 32px;" class="lazyloaded" data-ll-status="loaded">
          </a>
          <a *ngIf="userRole == 1 || userRole == 2" [routerLink]="['/delivery/movements']">
              <img src="assets/img/navigation/movimientos.png" style="box-shadow: 0 0 black;width: 32px;" class="lazyloaded" data-ll-status="loaded">
          </a>
          <a *ngIf="userRole == 3" [routerLink]="['/business/record']">
            <img src="assets/img/navigation/movimientos.png" style="box-shadow: 0 0 black;width: 32px;" class="lazyloaded" data-ll-status="loaded">
          </a>
          <a *ngIf="userRole == 1 || userRole == 2" [routerLink]="['/delivery/dashboard']">
              <img src="assets/img/navigation/solicitudes.png" style="box-shadow: 0 0 black;width: 32px;" class="lazyloaded" data-ll-status="loaded">
          </a>
          <a *ngIf="userRole == 3" [routerLink]="['/business/dashboard']">
            <img src="assets/img/navigation/solicitudes.png" style="box-shadow: 0 0 black;width: 32px;" class="lazyloaded" data-ll-status="loaded">
          </a>
          <a [routerLink]="['/forbidden']">
              <img src="assets/img/navigation/balance.png" style="box-shadow: 0 0 black;width: 32px;" class="lazyloaded" data-ll-status="loaded">
          </a>
          <a *ngIf="userRole == 1 || userRole == 2" [routerLink]="['/delivery/delivery']">
              <img src="assets/img/navigation/entregar.png" style="box-shadow: 0 0 black;width: 32px;" class="lazyloaded" data-ll-status="loaded">
          </a>
          <a *ngIf="userRole == 3" [routerLink]="['/business/request']">
            <img src="assets/img/navigation/mas.png" style="box-shadow: 0 0 black;width: 28px;" class="lazyloaded" data-ll-status="loaded">
          </a>
      </div>
  </div>
</div>