<ngx-loading-bar></ngx-loading-bar>
<div class="live-chat">
    <div class="embed-container">
        <iframe src="https://www.tidio.com/talk/tiir41bl6p0gjxiv6zahra1opj94xxon" frameborder="0"></iframe>
    </div>
</div>
