<ngx-loading-bar></ngx-loading-bar>

<div id="main">
    <div class="container">
        <div class="sc-title">
            Por <span>Entregar</span>
        </div>    
        <table *ngIf="loadingData == false" width="100%" mat-table [dataSource]="dataSourceX" class="tb-contingency-request">

            <!-- Reference Column -->
            <ng-container matColumnDef="company_name">
                <th mat-header-cell *matHeaderCellDef> Lugar de recogida </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="logo-business-request">
                        <img src="assets/img/company-default.png">
                    </div>
                    <div class="name-business-request" style="font-weight: bold;color: #008e78;">
                        {{element.company_name}}
                    </div>
                    <div class="address-business-request" style="font-weight: bold;color: #008e78;">
                        {{element.start_location}}
                    </div>
                    <div class="start-date-request" style="font-weight: bold;color: #008e78;">
                        {{element.start_date.seconds * 1000 | date:'dd/MM/yyyy h:mm:ss'}}
                    </div>                        
                </td>
            </ng-container>                       

            <!-- Date Request Column -->
            <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef> Lugar de Entrega </th>
                <td mat-cell *matCellDef="let element"> 
                    <div [routerLink]="['/delivery/details', element.delivery_ID]" class="status-delivery-request">
                        <img src="assets/img/delivery/{{element.status}}.png">
                    </div>
                    <div [routerLink]="['/delivery/details', element.delivery_ID]" class="name-product-request" style="font-weight: bold;color: #008e78;">
                        {{element.product_name}}
                    </div>
                    <div [routerLink]="['/delivery/details', element.delivery_ID]" class="address-delivery-request">
                        {{element.delivery_location}} 
                    </div>
                </td>                        
            </ng-container>            

            <!-- Position Column -->
            <ng-container matColumnDef="product_price">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                  
                    
                    <div class="contact-button">
                        <button (click)="onContact(element)" [ngClass]="{'contact-theme-button': element.status != 4, 'disabled-theme-button': element.status == 4}" [disabled]="element.status == 4">
                            Detalles
                        </button>                        
                    </div>
                
                    <div class="call-button" *ngIf="element.status == 1">
                        <button (click)="onMarkRequest(element)" [ngClass]="{'call-theme-button': element.status != 4 && element.status != 3, 'disabled-theme-button': element.status == 4 || element.status == 3}" [disabled]="element.status == 4 || element.status == 3">
                            Gestionar
                        </button>
                    </div>

                    <div class="call-button" *ngIf="element.status == 2 || element.status == 3 || element.status == 4">
                        <button (click)="onFinishRequest(element)" [ngClass]="{'call-theme-button': element.status != 4 && element.status != 3, 'disabled-theme-button': element.status == 4 || element.status == 3}" [disabled]="element.status == 4 || element.status == 3">
                            Finalizar
                        </button>
                    </div>
                    <div class="price-business-request" style="font-size: 10px;">
                        Pedido: {{element.product_price}} <br>
                        Envío: {{element.delivery_price}}
                    </div>
                    <!-- <img src="assets/img/states/{{element.contingency_State}}.png">  -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="loading-circle" *ngIf="loadingData">
            <div class="loadingio-spinner-ripple">
                <div class="ldio">
                    <div></div><div></div>
                </div>
            </div>
        </div>

        <div class="is-not-data align-center" *ngIf="dataSourceX.data.length == 0 && loadingData == false">
            <div class="img-not-data"><img src="assets/img/is-not-data.png" alt=""></div>
            <div class="text-not-data">No hay solicitudes por mostrar.</div>            
        </div>

        <mat-paginator #paginator [pageSizeOptions]="[7, 10, 15]" showFirstLastButtons></mat-paginator>
        <br><br><br>
        
    </div>
</div>
