<ngx-loading-bar [color]="'#fff'"></ngx-loading-bar>
<header>
    <div class="hd-img-logo">
        <a href="">
            <img src="./assets/img/logo-white.png">
        </a>
    </div>
    <div class="hd-contact-phone">
        <a [routerLink]="['/faq']">
            <img src="./assets/img/help-white.png" alt="">
        </a>
    </div>
</header>
<div class="lg-form-container">
    <div class="lg-form-content">
        
        <div class="sc-title align-center">
            Formulario de <span>Registro</span>
        </div>

        <br>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [selectedIndex]="0">
            <mat-tab label="Empresa">
                <p class="sc-paragraph">Complete el siguiente formulario con los datos de empresa para registrarse.<br>
                </p>
                
                <form [formGroup]="companyRegisterForm" (ngSubmit)="onSubmitCompany()">

                    <div class="lg-identification-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> NIT </mat-label>
                            <input matInput formControlName="identificationCompany" type="number"
                                placeholder="Ingrese el NIT de la empresa" required>
                            <mat-icon matSuffix>select_all</mat-icon>
                            <mat-error *ngIf="companyRegisterForm.controls.identificationCompany.dirty && companyRegisterForm.controls.identificationCompany.invalid ">
                                Ingrese un NIT <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
        
                    <div class="lg-namecompany-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Nombre de la Empresa </mat-label>
                            <input matInput formControlName="nameCompany" type="text"
                                placeholder="Escriba el nombre de la empresa" required>
                            <mat-icon matSuffix>business</mat-icon>
                            <mat-error *ngIf="companyRegisterForm.controls.nameCompany.dirty && companyRegisterForm.controls.nameCompany.invalid ">
                                Ingrese un nombre de empresa <strong>válido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-address-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Dirección de la Empresa</mat-label>
                            <input matInput formControlName="addressCompany" type="text"
                                placeholder="Escriba la dirección de la empresa" required>
                            <mat-icon matSuffix>place</mat-icon>
                            <mat-error *ngIf="companyRegisterForm.controls.addressCompany.dirty && companyRegisterForm.controls.addressCompany.invalid ">
                                Ingrese un correo electrónico <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-phone-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Telefono de la Empresa</mat-label>
                            <input matInput formControlName="phoneCompany" type="text"
                                placeholder="Escriba el telefono de la empresa" required>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="companyRegisterForm.controls.phoneCompany.dirty && companyRegisterForm.controls.phoneCompany.invalid ">
                                Ingrese un correo electrónico <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-email-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Correo de la Empresa</mat-label>
                            <input matInput formControlName="emailCompany" type="email"
                                placeholder="Escriba el correo de la empresa" required>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="companyRegisterForm.controls.emailCompany.dirty && companyRegisterForm.controls.emailCompany.invalid ">
                                Ingrese un correo electrónico <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-passwordcompany-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Contraseña </mat-label>
                            <input matInput formControlName="passwordCompany" type="password"
                                placeholder="Escriba su contraseña" required>
                            <mat-icon matSuffix>enhanced_encryption</mat-icon>
                            <mat-error *ngIf="companyRegisterForm.controls.passwordCompany.dirty && companyRegisterForm.controls.passwordCompany.invalid ">
                                Debe tener al menos entre 8 y 16 caracteres, un dígito, una mayúscula y un caracter no alfanumérico.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-confirmpasswordcompany-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Confirmar Contraseña </mat-label>
                            <input matInput (keyup)="validatePasswordCompany($event)" formControlName="confirmPasswordCompany" type="password"
                                placeholder="Confirme su contraseña" required>
                            <mat-icon matSuffix>enhanced_encryption</mat-icon>
                            <mat-error *ngIf="companyRegisterForm.controls.confirmPasswordCompany.dirty">Las contraseñas no coinciden</mat-error>
                        </mat-form-field>
                    </div>
        
                    
        
                    <button class="primary-theme-button" [class.spinner]="loading" [disabled]="loading"
                        type="submit" color="primary">Registrar Empresa</button>           
        
                </form>       
            </mat-tab>
            <mat-tab label="Domiciliario">
                <p class="sc-paragraph">Complete el siguiente formulario con sus datos para registrarse.<br>
                </p>
                
                <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmitUser()">

                    <div class="lg-typedocument-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Tipo de documento</mat-label>
                            <mat-select formControlName="typeDocumentUser" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let item of itemsComments" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>   
                            <mat-error *ngIf="true">Por favor elija una <strong>opción</strong></mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </div>
        
                    <div class="lg-identificationuser-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Número de identificación</mat-label>
                            <input matInput formControlName="identificationUser" type="number"
                                placeholder="Escriba su número de identificación" required>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.identificationUser.dirty && userRegisterForm.controls.identificationUser.invalid ">
                                Ingrese una identificación <strong>válida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-nameuser-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput formControlName="nameUser" type="text"
                                placeholder="Escriba su nombre completo" required>
                            <mat-icon matSuffix>list_alt</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.nameUser.dirty && userRegisterForm.controls.nameUser.invalid">
                                Ingrese un nombre y apellido <strong>válido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-addressuser-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Direccion</mat-label>
                            <input matInput formControlName="addressUser" type="text"
                                placeholder="Escriba su dirección" required>
                            <mat-icon matSuffix>place</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.addressUser.dirty && userRegisterForm.controls.addressUser.invalid ">
                                Ingrese una dirección <strong>válida</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-phoneuser-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Celular</mat-label>
                            <input matInput formControlName="phoneUser" type="number"
                                placeholder="Escriba su numero de celular" required>
                            <mat-icon matSuffix>list_alt</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.phoneUser.dirty && userRegisterForm.controls.phoneUser.invalid ">
                                Ingrese un celular <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="lg-email-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label> Correo</mat-label>
                            <input matInput formControlName="emailUser" type="email"
                                placeholder="Escriba su correo" required>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.emailUser.dirty && userRegisterForm.controls.emailUser.invalid ">
                                Ingrese un correo electrónico <strong>valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-motouser-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Placas del vehiculo</mat-label>
                            <input matInput formControlName="motoUser" type="text"
                                placeholder="Escriba las placas de su vehiculo" required>
                            <mat-icon matSuffix>list_alt</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.motoUser.dirty && userRegisterForm.controls.motoUser.invalid ">
                                Este campo es <strong>obligatorio</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-passworduser-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="passwordUser" type="password"
                                placeholder="Escriba su contraseña" required>
                            <mat-icon matSuffix>enhanced_encryption</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.passwordUser.dirty && userRegisterForm.controls.passwordUser.invalid ">
                                Debe tener entre 8 y 16 caracteres, un dígito, mayúscula y un no alfanumérico.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="lg-passworduserconfirm-form">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Confirmar contraseña</mat-label>
                            <input matInput (keyup)="validatePasswordUser($event)" formControlName="confirmPasswordUser" type="password"
                                placeholder="Confirme su contraseña" required>
                            <mat-icon matSuffix>enhanced_encryption</mat-icon>
                            <mat-error *ngIf="userRegisterForm.controls.confirmPasswordUser.dirty">Las contraseñas no coinciden</mat-error>
                        </mat-form-field>
                    </div>
        
                    <button class="primary-theme-button" [class.spinner]="loading" [disabled]="loading"
                        type="submit" color="primary">Completar Registro</button>           
        
                </form>
            </mat-tab>
        </mat-tab-group>

    </div>

    <div [routerLink]="['/login']" class="floating-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
</div>