<ngx-loading-bar [color]="'#fff'"></ngx-loading-bar>
<div id="main">
    <div class="container">
        <div class="sc-title">
            <span>Detalles de la Solicitud</span>
        </div>
        <p class="sc-paragraph">
            Estas son los detalles de la solicitud de entrega.
        </p>

        <div class="dt-container">
            <div class="dt-item">
                <div class="dt-title">Fecha Solicitud: </div>
                <div class="dt-info align-right">
                    <p>{{delivery.start_date.seconds * 1000 | date:'dd/MM/yyyy h:mm:ss'}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Lugar de Recogida: </div>
                <div class="dt-info align-right">
                    <p>{{delivery.start_location}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Lugar de Entrega: </div>
                <div class="dt-info align-right">
                    <p>{{delivery.delivery_location}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Nombre de quién recibe: </div>
                <div class="dt-info align-right">
                    <p>{{delivery.delivery_name}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Celular de quién recibe: </div>
                <div class="dt-info align-right">
                    <p>{{delivery.delivery_phone}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Detalles de Solicitud: </div>
                <div class="dt-info">
                    <p>{{delivery.details}}</p>
                </div>
            </div>
            <div class="dt-item">
                <div class="dt-title">Tipo de Producto: </div>
                <div class="dt-info">
                    <p>{{delivery.product_type}}</p>
                </div>        
            </div>
            <div class="dt-item">
                <div class="dt-title">Producto: </div>
                <div class="dt-info">
                    <p>{{delivery.product_name}}</p>
                </div>        
            </div>
            <div class="dt-item">
                <div class="dt-title">Precio: </div>
                <div class="dt-info">
                    <p>{{delivery.product_price}}</p>
                </div>        
            </div>
            <div class="dt-item">
                <div class="dt-title">Costo de Envío: </div>
                <div class="dt-info">
                    <p>{{delivery.delivery_price}}</p>
                </div>        
            </div>
            <div *ngIf="delivery.delivery_man_name != null && delivery.delivery_man_name != ''" class="dt-item">
                <div class="dt-title">Nombre del Domiciliario: </div>
                <div class="dt-info">
                    <p>{{delivery.delivery_man_name}}</p>
                </div>        
            </div>
            <div *ngIf="delivery.delivery_man_phone != null && delivery.delivery_man_phone != ''" class="dt-item">
                <div class="dt-title">Celular del Domiciliario: </div>
                <div class="dt-info">
                    <p>{{delivery.delivery_man_phone}}</p>
                </div>        
            </div>
            <div class="dt-item">
                <div class="dt-title">Estado de la Entrega: </div>
                <div class="dt-info">
                    <p class="align-center">
                        <img src="assets/img/delivery/{{delivery.status}}.png" alt="">
                    </p>    
                </div>        
            </div>
              
        </div>
        <button [routerLink]="['..']" class="primary-theme-button margin-top-30" >Volver al Inicio</button>
    </div>
</div>
<br><br>