<ngx-loading-bar></ngx-loading-bar>

<div id="main">
    <div class="container">
        <div class="sc-title">
            Lista de <span>Movimientos</span>
        </div>    

        <div class="loading-circle" *ngIf="loadingData">
            <div class="loadingio-spinner-ripple">
                <div class="ldio">
                    <div></div><div></div>
                </div>
            </div>
        </div>
        
        <div class="is-not-data align-center" *ngIf="movements.length == 0 && loadingData == false">
            <div class="img-not-data"><img src="assets/img/is-not-data.png" alt=""></div>
            <div class="text-not-data">No hay movimientos por mostrar.</div>            
        </div>
        
        <div *ngFor="let data of movements" class="movements-element">
            <div [routerLink]="['/delivery/details', data.delivery_ID]" class="movements-element-container">
                <div class="date-movements">
                    {{data.start_date.seconds * 1000 | date:'dd/MM/yyyy h:mm:ss'}}
                </div>

                <div class="card-movements">
                    <div class="img-card-movements">
                        <img src="assets/img/delivery/{{data.status}}.png">
                    </div>
                    <div class="title-card-movements" >
                        <div class="business-card-movements">
                            {{data.company_name}}
                        </div>
                        <div class="product-card-movements">
                            {{data.product_name}}
                        </div>
                    </div>
                    <div class="earn-card-movements">
                        <b>Pedido:</b> {{data.product_price}}   
                        <b>Ganacias:</b> {{data.delivery_price}}
                    </div>            
                </div>
            </div>
        </div>
      
    </div>
</div>
