#sidebarMenu {
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    width: 250px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #008e78 0%, #00695a 100%);
    z-index: 99999;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.open {
    transform: translateX(0) !important;
}
.pf-photo{
    display: inline-block;
}
.pf-text{
    display: inline-block;
}