<aside id="sidebarMenu">
  <ul class="sidebarMenuInner">
    <li>
      <div class="pf-photo"><img src="assets/img/user-default.png" alt=""></div>
      <div class="pf-text">{{userName}} <span>{{userRoleName}}</span></div>
    </li>
    <li><a (click)="onNavigate('/my-profile')">Mi Perfil</a></li>
    <li *ngIf="userRole == 1" (click)="onNavigate('/business/dashboard')"><a>Solicitudes</a></li>
    <li *ngIf="userRole == 2" (click)="onNavigate('/delivery/dashboard')"><a>Lista de Solicitudes</a></li>
    <li *ngIf="userRole == 3" (click)="onNavigate('/business/dashboard')"><a>Mis Solicitudes</a></li>

    <li *ngIf="userRole == 1" (click)="onNavigate('/administration/users-list')"><a>Administrar Usuarios</a></li>
    <li *ngIf="userRole == 1" (click)="onNavigate('/administration/access-request')"><a>Dar de Alta</a></li>
    <li *ngIf="userRole == 2" (click)="onNavigate('/delivery/movements')"><a>Movimientos</a></li>
    <li *ngIf="userRole == 3"  (click)="onNavigate('/business/orders-record')"><a>Historial de Entregas</a></li>

    <li (click)="onNavigate('/forbidden')"><a>Linea de Atención</a></li>
    <li (click)="onNavigate('/forbidden')"><a>Soporte en Linea</a></li>

    <li *ngIf="userRole == 1" (click)="onNavigate('/forbidden')"><a>Gestionar Retiros</a></li>
    <li *ngIf="userRole == 2" (click)="onNavigate('/forbidden')"><a>Retiros</a></li>
    <li *ngIf="userRole == 3" (click)="onNavigate('/forbidden')"><a>Balance</a></li>

    <li *ngIf="userRole == 1 || userRole == 2" (click)="onNavigate('/my-profile')"><a>Carné de Identidad</a></li>
    <li *ngIf="userRole == 3"  (click)="onNavigate('/my-profile')"><a>Carné de Institución</a></li>
    
    <li (click)="onLogout()"><a>Cerrar Sesión</a></li>
  </ul>
</aside>
