<ngx-loading-bar [color]="'#fff'"></ngx-loading-bar>
<header>
    <div class="hd-img-logo">
        <a href="">
            <img src="./assets/img/logo-white.png">
        </a>
    </div>
    <div class="hd-contact-phone">
        <a [routerLink]="['/faq']">
            <img src="./assets/img/help-white.png" alt="">
        </a>
    </div>
</header>
<div class="lg-form-container">
    <div class="lg-form-content full-center">
        
        <div class="sc-title align-center">
            ¿Olvidó su <span>Contraseña?</span>
        </div>

        <p class="sc-paragraph">Introduzca su correo electrónico y recibirá en su buzón de mensajes un enlace para recuperar su contraseña.</p>
        
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

            <div class="lg-email-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput formControlName="emailUser" type="email"
                        placeholder="Escriba su correo electrónico">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.controls.emailUser.dirty && forgotPasswordForm.controls.emailUser.invalid ">
                        Ingrese un correo electrónico <strong>valido</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <button class="primary-theme-button" [class.spinner]="loading" [disabled]="loading"
                type="submit" color="primary">Recuperar Contraseña</button>

        </form>

        <div class="lg-img">
            <img src="../../assets/img/img-login.png" alt="">
        </div>       

    </div>

    <div [routerLink]="['/login']" class="floating-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
</div>