<ngx-loading-bar [color]="'#fff'"></ngx-loading-bar>
<div id="main">
    <div class="container">
        <div class="sc-title">
            <span>Detalles del Usuario</span>
        </div>
        <div class="dt-container">
            <div class="dt-item">
                <div class="dt-title">Nombre: </div>
                <div class="dt-info align-right">
                    <p>{{user.names}} {{user.surnames}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Identificación: </div>
                <div class="dt-info align-right">
                    <p>{{user.type_ID}} {{user.identification}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Teléfono: </div>
                <div class="dt-info align-right">
                    <p>{{user.phone}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Correo: </div>
                <div class="dt-info align-right">
                    <p>{{user.email}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Perfil: </div>
                <div class="dt-info align-right">
                    <p>{{user.profile_ID}}</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dt-item">
                <div class="dt-title">Estado: </div>
                <div class="dt-info align-center">
                    <img [hidden]="!user.status" src="assets/img/states/Aprobado.png">
                    <img [hidden]="user.status" src="assets/img/states/Rechazado.png">
                </div>        
            </div>
            <div class="clear"></div>
            <div class="dt-item">
               <div class="dt-info"></div>    
            </div>
        </div>
        <button [routerLink]="['/administration/users-list']" class="primary-theme-button margin-top-30" >Volver al Inicio</button>
    </div>
</div>
<br>
<br>