.tb-contingency-request{
    width: 100%;
    border-spacing: 0 10px;    
    overflow: hidden;
    background: transparent;
}
.tb-contingency-request th{
    font-family: Poppins;
    font-weight: bolder;
    font-size: 15px;
    color: #000;
    text-align: center;
    border-bottom: 3px solid #008e78;
}
.tb-contingency-request .mat-row{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
    border-radius: 100%;
    overflow: hidden;
    background: white;
    cursor: pointer;
    transition: .3s all ease-in-out;
}
.tb-contingency-request .mat-row:hover{
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.10);
    background-color: aliceblue; 
}
.tb-contingency-request td{
    font-family: Poppins;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}
.tb-contingency-request tr td:first-child { 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 0 0 0;
}
.tb-contingency-request tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mat-paginator{
    background: transparent !important;
}
mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    border-bottom-color: transparent;
}

.users-search-form .mat-input{
    border-radius: 100%;
}

.users-search-address-form mat-form-field{
    width: 100%;
    font-family: Poppins;
    text-align: center;
}

::ng-deep .users-search-address-form .mat-form-field-appearance-outline .mat-form-field-flex{
    box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
    border-radius: 50px;
}

::ng-deep .users-search-address-form .mat-form-field-outline-end, ::ng-deep .users-search-address-form .mat-form-field-outline-gap{
    border-radius: 50px 50px 50px 50px !important;
    border-right-style: none !important;
    border-left-style: none !important;
}

::ng-deep  .users-search-address-form .mat-form-field-outline-start{
    border-radius: 50px 50px 50px 50px !important;
    border-right-style: none !important;
    border-left-style: none !important;
    min-width:auto !important;
}

::ng-deep  .users-search-address-form .mat-form-field-infix{
    display: inline-flex !important;
}

/* sadf */
.users-search-city-form mat-form-field{
    width: 100%;
    font-family: Poppins;
    text-align: center;
}
::ng-deep .users-search-city-form .mat-form-field-appearance-outline .mat-form-field-flex{
    box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
    border-radius: 50px;
}

::ng-deep .users-search-city-form .mat-form-field-outline-end, ::ng-deep .users-search-city-form .mat-form-field-outline-gap{
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
}

::ng-deep .users-search-city-form .mat-form-field-outline-start{
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    min-width:auto !important;
}

::ng-deep  .users-search-city-form .mat-form-field-infix{
    display: inline-flex !important;
}

.users-search-form .mat-icon{
    padding-right: 5px;
    border-right: 1px solid #008e78;
}

.list-options-users, .list-options-access{
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin: auto;    
    padding: 0;
}

.list-options-users li, .list-options-access li{
    padding-left: 5px;
    padding-right: 5px;
}