<ngx-loading-bar [color]="'#fff'"></ngx-loading-bar>
<div id="main">
    <div class="container">
        <div class="sc-title align-center">
            <span>Crear Pedido</span>
        </div>
        <p class="sc-paragraph">
            Diligencie el siguiente formulario para solicitar su entrega.
        </p>
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
            <div class="dly-locationa-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Lugar de Recogida</mat-label>
                    <input matInput formControlName="locationA" type="text" required>
                    <mat-icon matSuffix>location_on</mat-icon>
                    <mat-error *ngIf="requestForm.controls.locationA.dirty && requestForm.controls.locationA.invalid">
                        Ingrese un lugar de recogida <strong>válido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="dly-locationb-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Lugar de Entrega</mat-label>
                    <input matInput formControlName="locationB" type="text" required>
                    <mat-icon matSuffix>location_on</mat-icon>
                    <mat-error *ngIf="requestForm.controls.locationB.dirty && requestForm.controls.locationB.invalid">
                        Ingrese un lugar de entrega <strong>válido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="dly-deliveryname-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre de quién recibe</mat-label>
                    <input matInput formControlName="deliveryName" type="text" required>
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="requestForm.controls.deliveryName.dirty && requestForm.controls.deliveryName.invalid">
                        Ingrese un nombre <strong>válido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="dly-deliveryphone-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Celular de quién recibe</mat-label>
                    <input matInput formControlName="deliveryPhone" type="number" required>
                    <mat-icon matSuffix>call</mat-icon>
                    <mat-error *ngIf="requestForm.controls.deliveryPhone.dirty && requestForm.controls.deliveryPhone.invalid">
                        Ingrese un celular <strong>correcto</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="dly-details-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Detalles de la Solicitud</mat-label>
                    <input matInput formControlName="details" type="text"
                        placeholder="Escriba los detalles de la solicitud que desea enviar" autocomplete="off">
                    <mat-icon matSuffix>subject</mat-icon>
                </mat-form-field>
            </div>
            <div class="dly-producttype-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tipo de Producto</mat-label>
                    <mat-select formControlName="productType" autocomplete="off" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of itemsProductType" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="true">Por favor elija un <strong>tipo de producto</strong></mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>
            <div class="dly-productname-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Producto</mat-label>
                    <input matInput formControlName="productName" type="text"
                        placeholder="Escriba el nombre del producto" autocomplete="off" required>
                    <mat-icon matSuffix>local_grocery_store</mat-icon>
                    <mat-error *ngIf="requestForm.controls.productName.dirty && requestForm.controls.productName.invalid">
                        Ingrese un producto <strong>válido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="dly-productprice-form">
                <mat-form-field appearance="outline" style="width: 100%;" required>
                    <mat-label>Precio</mat-label>
                    <input matInput formControlName="productPrice" type="number">
                    <mat-icon matSuffix>attach_money</mat-icon>
                    <mat-error *ngIf="requestForm.controls.productPrice.dirty && requestForm.controls.productPrice.invalid">
                        Ingrese un precio <strong>válido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="dly-deliverycost-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Costo de Envio</mat-label>
                    <input matInput formControlName="deliveryPrice" type="number" required>
                    <mat-icon matSuffix>attach_money</mat-icon>
                    <mat-error *ngIf="requestForm.controls.deliveryPrice.dirty && requestForm.controls.deliveryPrice.invalid">
                        Ingrese un costo de envío <strong>válido</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="hidden-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput formControlName="userId" type="text">
                </mat-form-field>
            </div>
            <div class="hidden-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput formControlName="companyName" type="text">
                </mat-form-field>
            </div>
            <div class="hidden-form">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input matInput formControlName="companyPhone" type="number">
                </mat-form-field>
            </div>
            <button class="dly-submit-form primary-theme-button" [class.spinner]="loading" [disabled]="loading"
                type="submit" color="primary">Enviar Solicitud</button>
        </form>
    </div>
    <div [routerLink]="['/business/dashboard']" class="floating-back">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
</div>

<br><br><br>